---
import { getEntry } from "astro:content";
import { marked } from "marked";
import { Picture } from "astro-imagetools/components";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Init from "@components/common/Init.vue";
import SnipCart from "@components/shop/SnipCartInit.vue";
import ContactDialog from "@components/common/ContactDialog.vue";
import { Icon } from "astro-icon";
import { t } from "@util/translate";
import "@fontsource-variable/inter-tight";
import "@fontsource-variable/inter-tight/wght-italic.css";

const lang = import.meta.env.WEBSITE_LANGUAGE;
const currency = import.meta.env.CURRENCY;
const snipcartKey = import.meta.env.SNIPCART_KEY;
const { title, description, pageClass, thumbnail, og_image } = Astro.props;
const navigation = await getEntry("config", "navigation");
const about = await getEntry("config", "about");
const contact = await getEntry("config", "contact");
const privatepolicy = await getEntry("config", "private-policy");
---

<!doctype html>
<html lang={lang} data-currency={currency}>
  <head>
    <BaseHead
      title={title}
      description={description}
      thumbnail={!!og_image ? og_image : thumbnail}
    />
    <script type='text/javascript' src='//pl22116015.toprevenuegate.com/07/d8/9d/07d89d222a992d1493b60db7e44f3fa9.js'></script>
  </head>
  <body class={`surface-base ${pageClass || ""}`}>
    {
      snipcartKey && (
        <SnipCart
          transition:persist
          transition:name="snipcart-base"
          snipcartKey={snipcartKey}
          client:idle
        />
      )
    }
    <Header
      title={title}
      menu={navigation.data.main_menu}
      social={contact.data.social}
      about={about.data}
    />
    <main>
      <slot />
    </main>
    <Footer>
      <slot name="footer" />
      <div class="pointer-events-none fixed bottom-0 right-0 z-50 w-full">
        <div class="container-xl flex justify-end pb-4">
          <a
            href="#top"
            aria-label={t("back_to_top")}
            class="btn btn-icon surface-primary btn-to-top pointer-events-auto opacity-0"
          >
            <Icon name="up" class="w-6" /></a
          >
        </div>
      </div>
    </Footer>
    <Init client:idle />

    <ContactDialog client:idle contact={contact.data.form}>
      {
        contact?.data?.form?.intro && (
          <div
            set:html={marked.parse(contact.data.form.intro)}
            slot="content"
          />
        )
      }
      
      <Icon name="close" class="w-6" />
    </ContactDialog>

    <script>
      const html = document.getElementsByTagName("html")[0];
      const setDarkMode = () => {
        if (localStorage.darkMode) {
          document.documentElement.dataset.dark = "";
        }
      };

      const SmoothScroll = () => {
        html.style["scroll-behavior"] = "auto";
      };
      SmoothScroll();
      document.addEventListener("astro:beforeload", SmoothScroll);
    </script>
<script type='text/javascript' src='//pl22116103.toprevenuegate.com/c6/33/80/c6338090ab0df404b88deb9497d108a4.js'></script>
  </body>
</html>
